@media screen and (max-width:576px) {
    .header,.menu-part,.banner-container,.gamming,.box,
    .instant-play{
        flex-direction: column;
    }
    .header{
        padding: 30px 5px;
    }
    .menu-part li{
        margin: 10px 0px;
    }
    .menu-part{
        margin-left: 5px;
    }
    .banner-container{
        padding: 10px 5px;
        flex-direction: column-reverse;
        text-align: center;
    }
    .banner-text p{
        text-align: left;
    }
    .banner-photo img {
        width: 80%;
        height: auto;
        margin-left: 40px;
    }
    .banner-text p{
        font-size: 16px;
    }
    .button-section{
        margin-top: 20px;
    }
    .gamming{
        text-align: center;
        padding: 20px 10px;
        margin: 30px auto;
    }
    .gaming-content{
        text-align: center;
        width: 80%;
    }
    .online-game{
        max-height: 600px;
        padding: 20px;
        text-align: center;
        margin-bottom: 50px;
    }
    .online-game .title{
        font-size: 25px;
    }
    .box {
        gap: 5px;
    }
    .card{
        width: 80%;
        height: auto;
        margin-bottom: 10px;
    }
    .online-game >p{
        margin-top: 20px;
    }
    .instant-play{
        gap: 10px;
        padding: 10px;
    }
    .instant-contant{
        text-align: center;
        width: 90%;
        margin: 0px auto;
        text-align: center;
    }
    .instant-photo .photo1{
        width: 80%;
        height: auto;
    }
    .photo2{
        bottom: 120px;
        right: 5px;
        height: 20%;
        width: 30%;
        position: relative;
    }
    .next-part,.social-link {
        width: 100%;
        margin: 0px auto;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 20px;
        font-size: 10px;
    }
    .social-link   {
        font-size: 20px;
    }
    .conditions{
        width: 100%;
        margin: 0px auto;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 20px;
        font-size: 10px;
    }
    .privacy{
        font-size: 12px;
    }

    
}

@media screen and (min-width: 576px) and (max-width:768px){
    .header,.menu-part,.gamming,
    .instant-play{
        flex-direction: column;
    }
    .menu-part li{
        margin: 10px 0px;
    }
    .banner-container{
        padding: 10px 30px;
    }
    .menu-part{
        margin-left: 0px;
    }
    .banner-container{
        padding: 30px ;
    }
    .banner-photo img {
        width: 100%;
        height: auto;
        margin: 0px auto;
        padding-right: 20px;
    }
    .banner-text p{
        font-size: 16px;
    }
    .button-section{
        margin-top: 20px;
    }
    .gaming-content{
        text-align: center;
        width: 80%;
    }
    .online-game .title{
        font-size: 35px;
        margin-bottom: 10px;
    }
    .card-content p {
        text-align: left;
        font-size: 14px;
    }
    .instant-contant{
        text-align: center;
        width: 70%;
        margin: 0px auto;
    }
    .photo2{
        bottom: 120px;
        right: 5px;
        height: 20%;
        width: 30%;
        position: relative;
    }
    .next-part,.social-link {
        width: 80%;
        margin: 0px auto;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 20px;
        font-size: 18px;
    }
    .social-link   {
        font-size: 24px;
    }
    .conditions{
        width: 100%;
        margin: 0px auto;
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: 20px;
        font-size: 12px;
    }
    .privacy{
        font-size: 12px;
    }
}