/* Google fonts: Work Sans  */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}
/* Shared-Styles */
:root{
    --Primary-color :  #FF42A5;
    --Secondary-color : linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    --font-size : 18px;
    --text-color :  #534C64;
}
.title{
    font-size: 45px;
    font-weight: 700;
}
.btn{
    border-radius: 48px;
    color: #fff;
    background-color: #F948B2;
    border: none;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 600;
}






/* Header and Nav bar design start */
.header{
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0px;
}
.logo img{
    height: 40px;
    width: 80px;
}
.logo-part{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.gaming h3 {
    font-size: 2.4rem;
    margin-left: 5px;
    font-weight: 700;
}
.primary{
    color: var(--Primary-color);
}
.menu-section{
    width: 50%;
}
.menu-part{
    display: flex; 
    align-items: center;
    margin-left: 180px;
}
.menu-part li {
    list-style: none;
    margin-left: 30px;
}
.menu-part li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--font-size);
    font-weight: 500;
}
.follow{
    padding: 10px 15px;
    background: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
}
.fa-youtube{
    color: red;
}
.fa-tiktok{
    color: #0b0223;
}
/* Header and Nav bar design End */
/* Banner Part start */
.banner-container{
    padding: 50px 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
}
.banner-text .title{
    color: #0B0223;
    font-weight: 600;
}
.headline{
    font-size: 5.2rem;
    font-weight: 800;
    color: #F948B2;
    margin-bottom: 20px;
}
.banner-text p{
    font-size: var(--font-size);
    color: var(--text-color);
    font-weight: 400;
}
.banner-text p>i{
    font-size: 1rem;
    margin-right: 15px;
}
.button-section{
    margin-top: 40px;
}
.banner-photo img {
    width: 90%;
    height: 80vh;
    margin-left: 60px;
}
.grogue{
    background-color: #4EC5F7;
}
/* Banner Part End */
/* Gamer Part start */
.gamming{
    max-height: 600px;
    padding: 20px 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.gaming-photo img{
    width: 100%;
}
.gaming-content{
    text-align: right;
    width: 60%;
}
.gaming-content .title{
    color: #8758F1;
    margin-bottom: 20px;
}
.gaming-content p{
    color: var(--text-color);
    font-size: var(--font-size);
    margin-bottom: 15px;
}
.gaming-content .btn {
    margin-bottom: 15px;
}
.gaming-content h5,h4{
    color: var(--text-color);
}
/* Online game Style  */
.online-game{
    max-height: 600px;
    padding: 20px 120px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    overflow: hidden;
}
.online-game >p{
    color: var(--text-color);
    font-size: var(--font-size);
    margin-bottom: 50px;
}
.box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.card{
    width: 300px;
    height: 300px;
    transition: .5s ease;
    margin-bottom: 50px;
    border-radius: 10px;
    box-sizing: border-box;
}
.card:hover .card1{
    display: block;
}
.card1{
    text-align: center;
    position: relative;
    bottom: 90%;
    color: #fff;
    font-weight: 700;
    display: none;
}
.card1 i {
    font-size: 25px;
    margin-top: 30px;
}
.card1 p{
    width: 200px;
    margin-left: 35%;
    color: #FF42A5;
}
.card-photo img{
    width: 100%;
    height: 300px;
    
}
.card p{
    text-align: left;
    font-size: 14pxrem;
    margin-top: 10px;
}
/* Online-game Section Star */
.instant-play{
    max-height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 120px;
    padding: 100px 120px;
    margin: 100px auto 50px;
}
.instant-contant{
    text-align: right;
    width: 50%;
    margin-top: -300px;
}
.instant-contant p {
    color: var(--text-color);
    font-size: var(--font-size);
    margin-top: 30px;
}
.instant-photo .photo1{
    width: 90%;
    height: auto;
    margin-left: 60px;
}
.photo2{
    position: relative;
    bottom: 250px;
    right: 80px;
    height: 60%px;
    width: 30%px;
}
.footer-container{
    background-color: #0b0223;
    color: #fff;
    text-align: center;
    padding: 100px;
}
.footer-container li{
    list-style: none;
}
.footer-logo-part{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.next-part {
    width: 60%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    font-size: var(--font-size);
    margin-bottom: 30px;
    cursor: pointer;
}
.social-link{
    width: 30%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    font-size: 24px;
    border-radius: 50%;
    margin-bottom: 20px;
    cursor: pointer;
}
.conditions{
    width: 50%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.60);
}
.privacy{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.60);
}
/* game-item Section start */
.game-item {
    padding: 10px 200px;
    max-height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 100px;
}
.gm-item:hover li{
    border: 1px solid rosybrown;
    padding: 10px 20px;
    border-radius: 20px;
}
.gm-item li{
    list-style: none;
}
.gm-item li{
    display: flex;
    align-items: center;
}
.gm-item li p{
    color: #0B0223;
    font-size: 14px;
}
.gm-item img{
    margin-right: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}